@font-face {
    font-family: 'HoneyBear';
    src: url(HoneyBear-8MegB.ttf);
}

body{
    background-color: #9F9FAD;
    color: #011936;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
}

h1{
    font-family: HoneyBear;
    text-align: center;
}

#credit{
    margin-top: 40px;
    text-align: center;
}

#main_containter{
    display: flex;
    flex-direction: row;
}

#directions{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 1 0;
}

#directions>div{
    margin: 30px;
    padding: 20px;
    border-radius: 10px;
    background-color: #465362;
    color: white;
}

#container{
    display: flex;
    height: 100%;
    flex: 1 1 auto;
}

#board{
    height: 500px;
    width: 500px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    background-color: #465362;
    border-radius: 15px;
}

.row{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

#emptySpace{
    background-color: #011936;
}

.space{
    margin: 8px;
    background-color: #C2EABD;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    flex: 1 1 0px;
    font-family: HoneyBear;
    font-size: larger;
}